# DataScienceEcosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Understanding Data Science
* Getting to know some tools
* using Jupyter notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras

|Data Science Tools|
|------------------|
|RStudio|
|PyCharm|
|Databricks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
 #This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
### Zohaib Muhammad